dist/
.vscode/
build/
*.pyc
*.egg-info
*.log
*.so
*__pycache__*
*.o
*.mxq
*.mblt
*.msgpack
*.onnx
*.pb
*.keras
*.h5
*.tflite
*.ckpt.index
*.bin
*.pt
*.pth
*.torchscript
*.safetensors
*.whl
.venv/
.build-venv/
uv.lock